.title {
  display: flex;
  gap: 0.3rem;
  position: absolute;
  font-size: 16px;
  margin-top: 450px;

  color: black;

  > a {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: var(--pumpkin);
    }
  }
}
